<div flex layout="column" layout-align="center center">
    <md-card class="md-padding card800">
        <md-card-title>
            <md-card-title-text>
                <h1>{{vm.app.name}}</h1>
                <h3 layout="row" layout-align="center"><span flex>DSN: {{vm.app.dsn}}</span><span>Version: {{vm.app.version}}</span>
                </h3>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>{{vm.app.description}}</p>
        </md-card-content>
    </md-card>

    <md-tabs md-dynamic-height="" md-border-bottom="" class="card800">
        <md-tab label="events">
            <md-content>
                <md-list flex>
                    <md-subheader>
                        <md-input-container class="md-block">
                            <label>Filter</label>
                            <input type="text" ng-model="vm.eventSearch">
                        </md-input-container>
                    </md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="event in vm.app.events | filter:vm.eventSearch"
                                  ng-click="vm.openEvent(event._id)">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ event.data }}</h3>
                            <h4>{{ event.timestamp | date:'medium' }}</h4>
                            <h4>{{ event.appVersion }}</h4>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-content>
        </md-tab>

        <md-tab label="users">
            <md-list flex>
                <md-subheader>
                    <md-content>
                        <div class="md-list-item-text" layout="column">
                            <h2>Owner: {{ vm.app.owner.firstName }} {{ vm.app.owner.lastName }}</h2>
                            <h4>{{ vm.app.owner.email }}</h4>
                        </div>
                    </md-content>
                    <md-input-container class="md-block">
                        <label>Filter</label>
                        <input type="text" ng-model="vm.userSearch">
                    </md-input-container>
                </md-subheader>
                <md-list-item class="md-2-line" ng-repeat="user in vm.app.users | filter:vm.userSearch">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
                        <h4>{{ user.email }}</h4>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </md-tab>

        <md-tab label="add user" ng-if="vm.app.owner._id === vm.userId">
            <md-list>
                <md-subheader>
                    <md-input-container class="md-block">
                        <label>Filter</label>
                        <input type="text" ng-model="vm.addUserSearch">
                    </md-input-container>
                </md-subheader>

                <div ng-repeat="user in vm.otherUsers | filter:vm.addUserSearch">
                    <md-list-item flex layout="row" layout-align="space-between center" class="md-2-line">
                        <div flex class="md-list-item-text" layout="column">
                            <h3>{{ user.firstName }} {{ user.lastName }}</h3>
                            <h4>{{ user.email }}</h4>
                        </div>

                        <md-button class="md-primary md-raised" ng-click="vm.addUser(user._id)">Add</md-button>
                    </md-list-item>
                    <md-divider></md-divider>
                </div>
            </md-list>
        </md-tab>
    </md-tabs>
</div>