<div flex layout="column" layout-align="center center">
    <md-card class="md-padding card600">
        <md-content>
            <md-input-container class="md-block">
                <label>Search</label>
                <input name="search" type="text" autofocus ng-model="vm.query">
            </md-input-container>
        </md-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary md-fab md-button md-ink-ripple" ng-click="vm.addApplication()">
                <md-icon md-svg-src="assets/ic_add.svg"></md-icon>
                <md-tooltip md-direction="bottom">
                    Add another application
                </md-tooltip>
            </md-button>
        </md-card-actions>
    </md-card>

    <md-card ng-repeat="app in vm.apps | filter:vm.query" class="card600">
        <md-card-title>
            <md-card-title-text>
                <p class="md-headline">{{app.name}}</p>
                <p layout="row" layout-align="center">
                    <span flex>DSN: {{app.dsn}}</span>
                    <span>Version: {{app.version}}</span>
                </p>
                <p layout="row" layout-align="center">
                    <span flex>Owner: {{app.owner.firstName}} {{app.owner.lastName}}</span>
                    <span>Events: {{app.events.length}}</span>
                </p>
            </md-card-title-text>
        </md-card-title>

        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary" ng-click="vm.openApplication(app._id)">Details</md-button>
        </md-card-actions>
    </md-card>
</div>